<slide class="overview-slide segue nobackground" id="{{ slide.id }}" style="background:};">

<hgroup>
}
</hgroup>

<article data-timings="">
}
</article>
<!-- Presenter Notes -->

<aside class="note" id="">
<section>
}
</section>
</aside>

</slide>

<slide class="overview-slide segue nobackground" id="{{ slide.id }}">
<hgroup>
}
</hgroup>
<article>
}
<footer class = 'logo'>
<div style="position: absolute; left: 1000px; top: 50px; z-index:100">
<img src = "assets/img/logo1.png" height="80" width="80">
</div>
</footer>
</article>
</slide>